.title {
    color: #676464;
    font-size: 20px;
}

.name {
    color: #676464;
    font-size: 14px;
}

.table {
    width: 40%;
    text-align: right;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 20px;
    color: #676464;
}

.tr {
    height: 54px;
}

.td {
    border: 1px solid #676464;
    padding: 0 10px;
    color: #28282E !important;
}

.showMore {
    color: #81815B;
    font-size: 18px;
    margin: 20px;
}