.box {
    direction: rtl;
}

.tab {
    font-size: 20px;
    font-family: 'IRANSans', sans-serif !important;
    background-color: transparent !important;
    color: #28282E;
}

.TabPanel {
    background-color: #EBEBE3;
}