.conatiner {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 4.5fr 1fr;
    gap: 0px 15px;
}

.main {
    margin: 0 auto;
    width: 600px;
    background-color: #F3F6F2;
    padding: 50px;
    text-align: center;
}

.gallary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 115px;
    height: 110px;
    margin: 0 10px;
    cursor: pointer;
}