.releventProduct {
    margin: 30px 0;
    text-align: center;
}

.releventProduct p {
    font-size: 28px;
    color: #484035;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}