.container {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #D7D7CB;
    padding-top: 57px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}