.rang {
    width: 100%;
    padding: 10px 0;
    background-color: #eeee;
    margin: 0 10px;
}

.rang p {
    font-family: 'IRANSans', sans-serif !important;
    font-size: 16px;
    text-align: right;
}

.slider {
    width: 85%;
    margin-left: 25px;
    color: #28282E;
    height: 15px;
}

.priceContainer {
    margin-top: -10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: 25px;
    font-weight: 800;
}