.beauty {
    direction: rtl;
    position: relative;
    padding: 100px 0 150px 0;
}

.beauty h1 {
    text-align: center;
    font-size: 64px;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img3 {
    position: absolute;
    left: 0;
}

.img4 {
    position: absolute;
    right: 60px;
    top: -160px;
}

.img1 {
    position: absolute;
    left: 80px;
    bottom: -160px;
}