.container {
    display: grid;
}

.main {
    width: 100%;
    background-color: #D7D7CB;
    z-index: 100;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}